<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-left">
      <a href="/" class="footer-logo">RocketFuel</a>
      <p class="footer-tagline">Generate bash scripts with ease using our modern lowcode approach.</p>
    </div>

    <div class="footer-nav">
      <div class="footer-nav-column">
        <h4 class="footer-heading">Product</h4>
        <ul class="footer-links">
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Docs</a></li>
        </ul>
      </div>

      <div class="footer-nav-column">
        <h4 class="footer-heading">Company</h4>
        <ul class="footer-links">
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="footer-nav-column">
        <h4 class="footer-heading">Connect</h4>
        <ul class="footer-links">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Discord</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-container">
      <div class="footer-social">
        <a href="#" class="social-link"><i class="fab fa-github"></i></a>
        <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>