{% extends "base.html.twig" %}

{% block title %}RocketFuel{% endblock %}

{% block content %}
    <div>landing</div>
    {% if message is defined %}
        {{ message }}
    {% endif %}
{% endblock %}