{% extends "base.html.twig" %}

{% block title %}RocketFuel - Editor{% endblock %}

{% block content %}
    <div class="ts-module-ScriptEditor">
        <div class="editor-container" style="height: 300px; border: 1px solid #ccc;"></div>
    </div>
{% endblock %}